{% extends 'base.html.twig' %}

{% block title %}Boutique | Bedrinedev{% endblock %}

{% block body %}
<section class="category" id="category">
    <h1 class="text-global text-white text-center">Catégories</h1>
    <div class="grid-category">
        {% for category in categorys %}
            <a class="category-detail" href="{{ path('app_category_detail', {slug: category.slug}) }}">
                <img src="{{ asset('build/images/shop/category/' ~ category.img  ~'') }}" alt="{{ category.name }}" width="200" heigh="200"></img>
                <h2 class="h4 text-center text-capitalize">{{ category.name }}</h2>
            </a>
        {% endfor %}
    </div>
</section>
{% endblock %}
