@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
$color-1: #3498DB;
$color-2: #2ED7F2;
$color-3: #2CE8CF;
$color-4: #2E70F2;
$color-5: #2C3AE8;

/* GENERAL */

a, p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', Arial, sans-serif;
    color: white;
}

body {
    background-color: #1C2833;
    margin: 0px;
}

.error {
    margin: 200px;
    margin-bottom: 200px;
}

button {
    background: transparent;
    border: none;
    color: white;
    padding: 0px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.text-global {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: $color-1;
    padding: 5px;
    border-radius: 5px;
}

/* HEADER */

header {
    display: grid;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin: 40px;
    margin-bottom: 100px;
    grid-template-columns: 1fr 1fr;
    @media (max-width: 800px) {
        grid-template-columns: 1fr;
        row-gap: 30px;
        .title-site {
            margin-left: auto;
            margin-right: auto;
        }
        .menu-nav {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.title-site {
    a {
        font-weight: bold;
        font-size: 22px;
    }
}

.menu-nav {
    ul {
        width: fit-content;
        margin-left: auto;
    }
}

.btn-header {
    display: inline-block;
    width: fit-content;
    margin-left: 20px;
    margin-right: 20px;
    a {
        font-weight: bold;
        &:hover {
            color: $color-1;
            transition: 2s;
        }
    }
}

.btn-header-right {
    display: inline-block;
    width: fit-content;
    margin-left: 20px;
    margin-right: 0px;
    a {
        font-weight: bold;
        &:hover {
            color: $color-1;
            transition: 2s;
        }
    }
}

/* HOME */

.btn {
    display: block;
    width: fit-content;
    background-color: $color-1;
    color: white;
    border-radius: 100px;
    padding-left: 40px;
    padding-right: 40px;
    padding: 10px;
    padding-bottom: 10px;
    margin: 90px;
    margin-bottom: 130px;
    margin-left: auto;
    margin-right: auto;
    &:hover {
        transition: 3s;
        background-color: $color-5;
        color: white;
    }
}

.home {
    background-color: $color-1;
    width: fit-content;
    margin: 210px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border-radius: 25px;
    h1, h2 {
        text-align: center;
    }
    h1 {
        font-weight: bold;
    }
}

.info {
    width: fit-content;
    margin: 210px;
    margin-left: auto;
    margin-right: auto;
    h1, h2 {
        text-align: center;
    }
    h1 {
        font-weight: bold;
    }
}

.btn-grid {
    display: grid;
    width: fit-content;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
}

.btn-home {
    background-color: white;
    display: block;
    width: fit-content;
    color: $color-1;
    border: 2px solid $color-1;
    border-radius: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    &:hover {
        transition: 3s;
        background-color: $color-1;
        color: white;
    }
}

.service {
    a {
        margin-top: 90px;
    }
}

.grid-service {
    width: fit-content;
    display: grid;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;
    @media (max-width: 800px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 500px) {
        grid-template-columns: 1fr;
    }
}

.service-detail {
    background-color: $color-1;
    width: fit-content;
    padding: 30px;
    border-radius: 25px;
    h3 {
        width: 150px;
        text-align: center;
    }
    img {
        display: block;
        width: 80px;
        height: 80px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
    }
}

.entreprise {
    display: grid;
    width: 70%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    h2 {
        font-weight: bold;
    }
    p {
        margin-top: 15px;
        text-align: justify;
    }
    img {
        width: 100%;
        margin-top: auto;
        margin-bottom: auto;
        border-radius: 20px;
    }
    div {
        background-color: $color-1;
        border-radius: 25px;
        padding: 20px;
    }
    @media (max-width: 1400px) {
        width: 80%;
    }
    @media (max-width: 1200px) {
        width: 90%;
        row-gap: 60px;
        grid-template-columns: 1fr;
    }
}

/* CONTACT */

.contact {
    width: 50%;
    min-width: 390px;
    margin-top: 120px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
    form {
        background-color: $color-1;
        border-radius: 20px;
        padding: 20px;
    }
    form label {
        display: block;
        font-size: 20px;
        width: fit-content;
        color: white;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;
    }
    form input, form select {
        display: block;
        border: none;
        border-radius: 100px;
        width: 70%;
        min-width: 320px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        color: $color-1;
        margin-left: auto;
        margin-right: auto;
    }
    form textarea {
        display: block;
        border: none;
        border-radius: 20px;
        width: 70%;
        height: 150px;
        min-width: 320px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        color: $color-1;
        margin-left: auto;
        margin-right: auto;
    }
    form div {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.btn-contact {
    display: block;
    width: fit-content;
    border: none;
    background-color: white;
    color: $color-1;
    border: 1px solid $color-1;
    border-radius: 100px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    &:hover {
        transition: 3s;
        background-color: $color-1;
        color: white;
        border: 1px solid white;
    }
}

.error-contact {
    ul {
        width: fit-content;
        padding: 0px;
        list-style: none;
        margin-left: auto;
        margin-right: auto;
        li {
            color: #C0392B;
        }
    }
}

/* LOGIN */

#login {
    width: 50%;
    min-width: 390px;
    margin: 120px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
    form {
        background-color: $color-1;
        border-radius: 20px;
        padding: 20px;
    }
    form label {
        display: block;
        font-size: 20px;
        width: fit-content;
        color: white;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;
        margin: 25px;
    }
    form input, form select {
        display: block;
        border: none;
        border-radius: 100px;
        width: 70%;
        min-width: 320px;
        padding-left: 15px;
        padding-right: 15px;
        padding: 5px;
        padding-bottom: 5px;
        color: $color-1;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
    }
    form div {
        margin: 20px;
        margin-bottom: 20px;
    }
}

.btn-login {
    display: block;
    width: fit-content;
    border: none;
    background-color: white;
    color: $color-1;
    border-radius: 100px;
    padding-left: 40px;
    padding-right: 40px;
    padding: 10px;
    padding-bottom: 10px;
    margin: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    &:hover {
        transition: 3s;
        background-color: grey;
        color: $color-1;
    }
}

.error-login {
    ul {
        width: fit-content;
        padding: 0px;
        list-style: none;
        margin-left: auto;
        margin-right: auto;
        li {
            color: #C0392B;
        }
    }
}

/* CATEGORY */

.grid-category {
    width: fit-content;
    display: grid;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;
    @media (max-width: 800px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 500px) {
        grid-template-columns: 1fr;
    }
}

.category-detail {
    background-color: white;
    padding: 20px;
    border-radius: 25px;
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 25px;
    }
    h2 {
        color: $color-1;
        margin-top: 20px;
    }
}

/* PRODUCT */

.grid-product {
    width: fit-content;
    display: grid;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;
    @media (max-width: 800px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 500px) {
        grid-template-columns: 1fr;
    }
}

.product-detail {
    display: block;
    width: 300px;
    height: fit-content;
    background-color: white;
    padding: 20px;
    border-radius: 25px;
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 25px;
    }
    h2 {
        color: $color-1;
        margin-top: 20px;
    }
}

.grid-product-info {
    width: fit-content;
    display: grid;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 250px;
    column-gap: 60px;
    div {
        background-color: $color-1;
        border-radius: 25px;
    }
    img {
        border-radius: 25px;
    }
    @media (max-width: 600px) {
        grid-template-columns: 1fr;
        row-gap: 50px;
    }
}

.img-product {
    padding: 20px;
}

.add-basket-product {
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    a {
        margin-top: 30px;
    }
    h3 {
        margin-top: 25px;
        color: #76D7C4;
    }
}

.presentation-product {
    background-color: $color-1;
    width: 60%;
    min-width: 450px;
    padding: 20px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    h3 {
        margin-top: 20px;
    }
}

.add-basket {
    background-color: white;
    display: block;
    width: fit-content;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: $color-1;
    border: 2px $color-1 solid;
    border-radius: 100px;
    img {
        display: inline-block;
        margin-bottom: 2px;
    }
    &:hover {
        transition: 2s;
        border: 2px white solid;
        background-color: $color-1;
        color: white;
        img {
            background-image: url('../images/shop/add-basket-hover.png');
        }
    }
}

/* CONTACT */

.btn-action {
    display: inline-block;
    background: transparent;
    width: fit-content;
    height: fit-content;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px;
    img {
        width: 30px;
        height: 30px;
    }
}

#contact-detail {
    background-color: $color-1;
    width: 40%;
    min-width: 400px;
    margin-top: 120px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 25px;
    p {
        font-weight: bold;
    }
}

.contact-option-detail {
    width: fit-content;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    a, form button {
        width: 100%;
        margin-top: 7px;
        margin-bottom: 7px;
        margin-left: auto;
        margin-right: auto;
        text-decoration: solid;
    }
}

/* FOOTER */

footer {
    background-color: $color-1;
    width: 100%;
    margin-top: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    p {
        font-weight: bold;
        text-align: center;
    }
    a {
        display: block;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    div {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        a {
            display: inline-block;
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}
