{% extends 'base.html.twig' %}

{% block title %}Ouvrir une Agence{% endblock %}

{% block body %}
<section class="franchise" id="franchise">
    <div>
        <h2 class="text-center">Ouvrir votre Agence web ca vous tente !</h2>
        <p class="h5">Bedrinedev est une <span class="fw-bold">Agence Digitale</span> située à <span class="fw-bold">Irigny</span>, en périphérie de Lyon créée par <span class="fw-bold">Alan BEDRINE</span> en août 2020, qui a pour ambition de rendre accessible à tous, la <span class="fw-bold">création d'un site internet</span> et leur transformation numérique. 
        Bedrinedev accompagne les clients dans la <span class="fw-bold">création de site internet</span> : étude, design UX/UI, conception, développement et référencement.
        Notre Agence Web est capable de répondre à tous vos besoins et d’élaborer une véritable <span class="fw-bold">stratégie marketing et digitale</span>. Notre agence spécialisée a réalisé plus de 5 sites internet depuis sa création.
        Nous proposons également des prestations de création e-commerce, et autres...
        Expert dans divers domaines de la communication, le développement et les fonctionnalités d’un site, le webdesign, notre métier est de vous apporter des réponses sur mesure, adaptées à votre activité.</p>
        <p class="h5 citation-franchise fst-italic">" Cher franchisé potentiel, je suis ravi de vous présenter une opportunité passionnante de créer votre propre franchise d'agence web. Dans cet univers numérique en constante évolution, les entreprises ont un besoin croissant de présence en ligne pour rester compétitives. En devenant franchisé d'une agence web, vous pouvez non seulement répondre à cette demande croissante, 
        mais aussi profiter d'un marché lucratif et prometteur. Voici quelques raisons pour lesquelles vous devriez envisager de rejoindre notre réseau de franchises d'agences web : le monde numérique est en expansion constante, et de plus en plus d'entreprises réalisent l'importance d'une présence en ligne solide. En tant que franchisé, 
        vous bénéficierez d'un marché en plein essor, avec une demande croissante pour les services d'agence web. ", Alan BEDRINE, CEO BEDRINEDEV</p>
        <p class="h5">Vous souhaitez sauter le pas, pas de problème, aucun apport, aucun local n'est nécessaire, de la solide base en développement web ou mobile sont nécessaires, nous vous accompagnons dans la recherche de financement, dans la gestion comptable et RH, vous préférez être solo ? Pas de soucis c'est aussi possible, nous vous aidons dans la recherche de client et établirons un partenariat solide 
        en vous proposant des banques, des logiciels, des comptables partenaire avec des réductions, pas convaincu à tout moment vous pouvez résilier le contrat de franchise. Combien ça va me coûter encore ? Entre 5 et 12% sur votre C.A. et selon la taille de votre franchise, de redevance mensuelle, c'est tout !</p>
    </div>
</section>
{% endblock %}
